.fade:hover {
    background: rgba(0,0,0,0.4);
}

.carousel_item:hover .playFade {
    display: flex;
}

.staticPlay:hover {
    display: none;
}

.staticPlay:hover + .hoverPlay {
    display: block;
    cursor: pointer;
}

.carousel_item {
    background-color: rgb(0,0,0,0.2);
}