div.loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
}

span.dot {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.6s ease;
    animation: bubble 1.5s ease-in-out infinite;

}

@keyframes bubble {
    0%, 100% {
        transform: scale(0.7);
        background-color: var(--bg-color-end);
    }
    40% {
        transform: scale(1);
        transform: translateY(-10px);
    }
    50% {
        background-color: var(--bg-color-init);
    }
}

div.dots {
    width: min-content;
    display: flex;
}