label span {
    display: inline-block;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:focus ~ label span,
input:valid ~ label span {
    color: rgb(37 99 235);
    transform: translateY(-30px);
}

.glass {
    background-color: rgba(17, 24, 39, 0.8);
}

.wave {
    overflow: hidden;
    position: relative;
}

.wave::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: 50% 100%;
    transform: rotateY(180deg);
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.52" preserveAspectRatio="none"><path d="M0 3.528S27.04 3.352 35.278 0v3.528z" opacity=".2" fill="%232563eb"/><path d="M0 3.528S27.04 3.374 35.278.425v3.103z" opacity=".2" fill="%232563eb"/><path d="M0 3.528S27.04 3.396 35.278.882v2.646z" fill="%232563eb"/><path d="M0 3.527h35.278v.092H0z" fill="%232563eb"/></svg>');
}

@media (min-width:768px) {
    .wave::before {
        background-size: 100% 294px;
        background-position: 50% 100%;
        transform: rotateY(180deg);
    }
}

@media (min-width:1025px) {
    .wave::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 100% 400px;
        background-position: 50% 100%;
        transform: rotateY(180deg);
    }
}

@media (min-width:2100px) {
    .wave::before {
        background-size: 100% calc(2vw + 400px);
    }
}